@model Lab21.Models.Person

@{
    ViewBag.Title = "Registration";
}

<h2>Please fill the form to register!</h2>

<form action="/Person/Registration" method="post">
    <input type="hidden" name="PersonNumber" value="0" />
    <input type="text" name="FirstName" placeholder="First Name" /><br /><br />
    <input type="text" name="LastName" placeholder="Last Name" /><br /><br />
    <input type="text" name="Email" placeholder="Email" /><br /><br />
    <input type="text" name="PhoneNumber" placeholder="Phone Number" /><br /><br />
    <input type="password" name="Password" placeholder="Password" /><br /><br />
    <input type="submit" class="button" value="Register" />
</form>

@if (ViewBag.ErrorMessage != null)
{
    <p class="danger"> @ViewBag.ErrorMessage </p>
}