@model Lab21.Models.Person

@{
    ViewBag.Title = "RegistrationSuccess";
}
<br/>
<div>
    <h3>Welcome, @ViewBag.Message.</h3>
</div>
<br/><br/>
<a href="\Views\Home\Index.cshtml">
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/221/156/welcome-to-internet.jpg" alt="hello">
</a>
